<form [formGroup]="dateRangeControl" class="form" (ngSubmit)="updateDates()">
  <mat-form-field appearance="outline">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input
      [min]="minDate"
      [max]="maxDate"
      formGroupName="range"
      [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <button class="btn" mat-button>Update</button>
</form>

<table
  mat-table
  [dataSource]="officeData$"
  multiTemplateDataRows
  class="mat-elevation-z8 outer-table">
  <ng-container
    matColumnDef="{{ column.id }}"
    *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef>{{ column.name }}</th>
    <ng-container *ngIf="column.id == 'qty'; else td">
      <td class="td1" mat-cell *matCellDef="let element">
        {{ element[column.id] }}
      </td>
    </ng-container>
    <ng-template #td>
      <td class="td1" mat-cell *matCellDef="let element">
        <span class="span">{{ element[column.id] }}</span>
        <a
          *ngIf="column.id === 'office_id'"
          (click)="
                    openChart(column.name, element[column.id], this.from, this.to);
                    $event.stopPropagation()
                  "
          mat-icon-button>
          <mat-icon>show_chart</mat-icon>
        </a>
      </td>
    </ng-template>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        aria-label="expand row"
        [id]="element.office_id"
        (click)="onExpandOffice(element, $event)">
        <mat-icon *ngIf="expandedOffice !== element"
          >keyboard_arrow_down</mat-icon
        >
        <mat-icon *ngIf="expandedOffice === element"
          >keyboard_arrow_up</mat-icon
        >
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplayWithExpand.length">
      <div
        class="example-element-detail"
        [@detailExpand]="element == expandedOffice ? 'expanded' : 'collapsed'">
        <table
          *ngIf="expandedOffice"
          mat-table
          [dataSource]="storageData$"
          multiTemplateDataRows
          class="mat-elevation-z8 table">
          <ng-container
            matColumnDef="{{ column.id }}"
            *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef>{{ column.name }}</th>
            <ng-container *ngIf="column.id == 'qty'; else td">
              <td class="td2" mat-cell *matCellDef="let element">
                {{ element[column.id] }}
              </td>
            </ng-container>
            <ng-template #td>
              <td class="td2" mat-cell *matCellDef="let element">
                <span class="span">{{ element[column.id] }}</span>
                <a
                  *ngIf="column.id === 'wh_id'"
                  (click)="
                    openChart(column.name, element[column.id], this.from, this.to);
                    $event.stopPropagation()
                  "
                  mat-icon-button>
                  <mat-icon>show_chart</mat-icon>
                </a>
              </td>
            </ng-template>
          </ng-container>
          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">
              &nbsp;
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                aria-label="expand row"
                (click)="onExpandStorage(element, $event)">
                <mat-icon *ngIf="expandedStorage !== element"
                  >keyboard_arrow_down</mat-icon
                >
                <mat-icon *ngIf="expandedStorage === element"
                  >keyboard_arrow_up</mat-icon
                >
              </button>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td
              mat-cell
              *matCellDef="let element"
              [attr.colspan]="columnsToDisplayWithExpand.length">
              <div
                class="example-element-detail"
                [@detailExpand]="
                  element == expandedStorage ? 'expanded' : 'collapsed'
                ">
                <ng-container
                  *ngIf="
                    datesAndQuantitiesData$ | async as datesAndQuantities;
                    else loading
                  ">
                  <table
                    mat-table
                    *ngIf="expandedStorage"
                    [dataSource]="datesAndQuantities"
                    multiTemplateDataRows
                    class="mat-elevation-z8 table-last">
                    <ng-container
                      matColumnDef="{{ column.id }}"
                      *ngFor="let column of columnsToDisplay">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ column.name }}
                      </th>
                      <td class="td3" mat-cell *matCellDef="let element">
                        <span class="span">{{ element[column.id] }}</span>
                        <a
                          *ngIf="column.id === 'wh_id'"
                          (click)="
                            openChart('Склад', element.wh_id, this.from, this.to);
                            $event.stopPropagation()
                          "
                          mat-icon-button>
                          <mat-icon>show_chart</mat-icon>
                        </a>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="expand">
                      <th
                        mat-header-cell
                        *matHeaderCellDef
                        aria-label="row actions">
                        &nbsp;
                      </th>
                      <td mat-cell *matCellDef="let element"></td>
                    </ng-container>
                    <tr
                      mat-row
                      *matRowDef="
                        let element;
                        columns: columnsToDisplayWithExpand
                      "
                      class="example-element-row"
                      [class.example-expanded-row]="
                        expandedStorage === element
                      "></tr>
                  </table>
                </ng-container>
                <ng-template #loading>
                  <div class="block">
                    <mat-spinner></mat-spinner>
                    <div class="text">Загружаю данные...</div>
                  </div>
                </ng-template>
              </div>
            </td>
          </ng-container>

          <tr
            mat-row
            *matRowDef="let element; columns: columnsToDisplayWithExpand"
            class="example-element-row"
            [class.example-expanded-row]="expandedStorage === element"
            (click)="
              expandedStorage = expandedStorage === element ? null : element
            "></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="example-detail-row"></tr>
        </table>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplayWithExpand"
    class="example-element-row"
    [class.example-expanded-row]="expandedOffice === element"
    (click)="expandedOffice = expandedOffice === element ? null : element"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"></tr>
</table>
